

.overview{
    flex: 0 1 10%;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
  
}
.editor{

    position: relative;
    width:calc(100% - 12px);
  
}

.btu{
position:absolute;
right: 15px;
top:50%;
transform: translateY(-50%);
    background-color: unset;
    color:transparent;
    font-weight: bold;
    background-color: beige;
    width: 10px;
    height: 20%;
  
    font-size: 0;
    z-index: 1;
    border-style: none;
    outline: none;
    transition: all .4s ease-out;
    cursor: pointer;
}
.btu:hover{
background-color: rgb(80, 65, 55);
font-family: 'Nunito' sans-serif;
color: white;
width: 80px;
    height: 40px; 
    font-size: 1.3rem;
    border-radius: unset;
}

.react-resizable-handle-s{
    background:url(../svgs/drag.svg);
    background-color: #000000  ;
    background-size: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 0 0 5px 5px;
    display: block;
    height: 12px;
    width: 100%;

    /* background-color: cornflowerblue; */
    cursor: grab;
}
.react-resizable-handle-e{
 background:url(../svgs/drag-horizontal-svgrepo-com\ \(1\).svg);
    background-color:#000000  ;
    background-size: 28px;
    background-position: 50%;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 12px;
    cursor: grab;
}

.loader{
  flex-grow:1;
   background-color:#EDEADE;
  height: 100%;
}
.loader img{
   height: inherit;
    display: block;
    scale: .3;
    object-fit: cover;
    opacity:0;
    margin: auto;
    animation: loader .5s
}

@keyframes loader {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }

    100%{
        opacity: .8;
    }
    
}


